.masthead {
    width: 100%;
    background-color: #fff;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0px 28px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    z-index: 35;
    position: relative;
}

.masthead__header {
    width: 10em;
    margin: 0;

    @media screen and (max-width: 480px){
        text-align: center;
        padding-top: 20px !important;
        padding-bottom: 10px;
        font-size: 32px !important;
    }

    @media screen and (max-width: 768px){
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 32px !important;
    }
}

.masthead__navbar-list {
    margin: 0;

    li{
        padding-top: 20px;
        padding-bottom: 10px;
        display:inline-block;
    }

    li:last-child {
        padding-right: 0px;
    }

    @media screen and (max-width: 480px){
        display:none;
    }


    @media screen and (max-width: 768px){
        .masthead__navbar-item--icon {
            display:none;
        }

        .masthead__navbar-item {
            position: relative;
            top: 5px;
        }
    }
}

.masthead__navbar-item {
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
}

.masthead__navbar-item-link {
    text-decoration: none;
    color: #000;
    position: relative;
    bottom: 5px;

}

.masthead__navbar-item--icon {
    font-size: 30px;
}
